.ax_default {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.heading_1 {
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-size:14px;
  text-align:left;
}
.heading_5 {
  text-align:left;
}
.heading_6 {
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.card {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#354052;
  text-align:left;
  line-height:24px;
}
.table {
}
.list_menu {
  font-size:13px;
  color:#172730;
  text-align:left;
}
.list_menu_mouseover {
}
.line_horizontal {
}
.horizontal_line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.fontawesome {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
.button_command {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  color:#6DB930;
  text-align:center;
}
.button_command_mouseover {
}
.button_command_mousedown {
}
.button_command_selected {
  color:#FFFFFF;
}
.button_command_disabled {
}
.button_commit {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.button_commit_mouseover {
}
.button_commit_mousedown {
}
.button_commit_selected {
}
.button_commit_disabled {
}
.shape {
}
.link {
  color:#5494F1;
}
.link_mouseover {
  color:#35A5D8;
}
.link_mousedown {
  color:#35A5D8;
}
.link_selected {
  color:#86BC4A;
}
.link_disabled {
  color:#999999;
}
.image {
  color:#000000;
}
.box_1 {
}
.checkbox {
  color:#172730;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.page_title {
  font-size:20px;
  color:#354051;
}
.icon {
}
.line {
}
.link_button {
  color:#447ED1;
}
.list_menu_selected {
  color:#EDEEF0;
}
.ellipse {
}
.box_2 {
}
.nielsen_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.image1 {
  color:#000000;
}
.field_label {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  color:#666666;
}
.primary_button {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.button_command1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:13px;
  color:#6DB930;
  text-align:center;
}
.button_command_mouseover1 {
  color:#6DB930;
}
.button_command_mousedown1 {
  color:#6DB930;
}
.button_command_selected1 {
  color:#FFFFFF;
}
.button_command_disabled1 {
  color:#CCCCCC;
}
.menu_item {
}
.nielsen_orange {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_sub_title {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#354052;
  text-align:left;
}
.button {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  color:#6DB930;
  text-align:center;
}
.text_area {
  color:#000000;
  text-align:left;
}
.app_menu {
  font-size:13px;
  color:#333333;
}
.data_selector_v2 {
  color:#0098F3;
  text-align:left;
}
.data_selector_v2_mouseover {
  color:#0098F3;
  text-align:left;
}
.line_vertical {
}
.flow_shape {
  font-size:12px;
}
.subheader__v7_3_ {
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#354052;
  text-align:left;
}
.button_commit_mouseover1 {
  color:#FFFFFF;
}
.button_commit_selected1 {
  color:#FFFFFF;
}
.section_header_-_gmd {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:16px;
  color:#172730;
  text-align:left;
}
.list_menu_-_with_icon {
  font-size:13px;
  color:#172730;
  text-align:left;
}
.list_menu_-_with_icon_-_mouseover {
  font-size:13px;
  color:#172730;
  text-align:left;
}
.table_cell {
  text-align:right;
}
.link1 {
  color:#2A78A3;
}
.toast_background_-_detailed_white {
  font-size:15px;
  color:#354052;
}
.box_3 {
}
.field_label__v7_ {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#333333;
}
.label__v7_ {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#888888;
}
.large_text__v7_ {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#172730;
}
.hint_text {
  color:#C9C9C9;
}
.card_back_button {
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
.nielsen_blue1 {
  color:#FFFFFF;
}
.sitemap_-_high-level_nav {
  color:#FFFFFF;
}
.sitemap_-_component_on_page {
  color:#FFFFFF;
}
.sitemap_-_existing_product {
  color:#FFFFFF;
}
.sitemap_-_application {
  color:#FFFFFF;
}
.data_tile {
  color:#666666;
}
.data_tile_-_hover {
}
.data_tile_-_selected {
}
.h1 {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#888888;
}
.b3 {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#555555;
}
.h2 {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
.h5 {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
.m3 {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#555555;
}
.n4 {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2277AA;
}
.n4_-_hover {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#00AAEE;
}
.n4_-_active {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5AAA46;
}
.h3 {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
.alert_-_header_font {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#35A5D8;
}
.alert_-_title_font {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
.alert_-_body_font {
  font-size:9px;
}
.box {
  color:#666666;
}
.dashboard_panel {
  color:#666666;
}
.dashboard_panel_top_border {
}
.hint_text1 {
  font-family:'Open Sans';
  font-weight:400;
  font-style:italic;
  color:#C9C9C9;
}
.horizontal_nav {
  color:#2A78A3;
}
.horizontal_nav_mouseover {
  color:#35A5D8;
}
.horizontal_nav_mousedown {
  color:#2A78A3;
}
.horizontal_nav_selected {
  color:#2A78A3;
}
.horizontal_nav_disabled {
  color:#ADACAC;
}
.horizontal_nav_menu_arrow {
  color:#2A78A3;
}
.list_menu_with_icon {
  font-size:13px;
  color:#172730;
  text-align:left;
}
.list_menu_link {
  font-size:13px;
  color:#0098F3;
  text-align:left;
}
.tag {
  font-size:13px;
  color:#FFFFFF;
}
.tag_mouseover {
  color:#FFFFFF;
}
.tag_mousedown {
  color:#FFFFFF;
}
.tag_selected {
  color:#FFFFFF;
}
.tag_disabled {
  color:#E4E4E4;
}
.accordion_header {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  color:#2A78A3;
}
.tab {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#0098F3;
  text-align:center;
}
.tab_mouseover {
  color:#0099F3;
  text-align:center;
}
.tab_mousedown {
  color:#172739;
  text-align:center;
}
.tab_disabled {
  color:#172730;
  text-align:left;
}
.tab_selected {
  color:#172730;
  text-align:center;
}
.collapsible_section_header {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#2A78A3;
  text-align:left;
}
.paragraph1 {
  color:#666666;
}
.nielsen_gray {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.nielsen_purple {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.nielsen_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.nielsen_light_gray {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_title {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#172730;
  text-align:center;
}
.chart_subtitle {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
.chart_legend_label {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:left;
}
.legend_label {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.legend_label_centered {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:center;
}
.chart_axis {
}
.chart_axis_-_zero_line {
}
.chart_axis_grid_label {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:center;
}
.chart_axis_grid_label_-_parent {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.chart_axis_grid_label_-_child {
  font-family:'Open Sans';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.chart_gridline {
}
.chart_series_-_single_blue1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_series__ve1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
.chart_series_-ve1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
.wm_chart_series_-_single_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.wm_chart_series__ve {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
.wm_chart_series_-ve {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
.wm_chart_series_1_-_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_2_-_light_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_3_-_light_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_4_-_dark_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_5_-_yellow {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_6_-_orange {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_1_-_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_2_-_aqua {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_3_-_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_4_-_gold {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_5_-_orange {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_6_-_red {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_7_-_pink {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_8_-_purple {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_9_-_gray {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_10_-_light_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.wm_chart_series_11_-_light_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#354052;
  text-align:center;
}
.chart_series_11_-_light_aqua1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#354052;
  text-align:center;
}
.chart_series_12_-_light_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_13_-_light_gold {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#354052;
  text-align:center;
}
.chart_series_14_-_light_orange {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#354052;
  text-align:center;
}
.chart_series_15_-_light_red {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#354052;
  text-align:center;
}
.chart_series_16_-_light_pink {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#354052;
  text-align:center;
}
.chart_series_17_-_light_purple {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_18_-_dark_gray {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
.chart_series_line_1_-_blue {
}
.chart_series_line_2_-_aqua {
}
.chart_series_line_3_-_green {
}
.chart_series_line_4_-_gold {
}
.chart_series_line_5_-_orange {
}
.chart_series_line_6_-_red {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_series_line_7_-_pink {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_series_line_8_-_purple {
}
.chart_series_line_9_-_grey {
}
.chart_series_line_10_-_light_blue {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_series_line_18_-_dark_grey {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold__5 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold__4 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold__3 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold__2 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold__1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold_-1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold_-2 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold_-3 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold_-4 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_threshold_-5 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
.chart_bg {
}
.chart_waterfall_connector {
}
.commentary_-_blue {
  color:#FFFFFF;
}
.table_tile {
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:24px;
}
.table_header_row {
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:center;
}
.table_header_row_-_text_column {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:left;
}
.table_header_row_-_numeric {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:right;
}
.table_header_row_-_numeric_-_alt_col {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:right;
}
.table_column_header_separator_line {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
}
.table_cell1 {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:left;
}
.table_cell_-_text {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:left;
}
.table_cell_-_numeric {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:right;
}
.table_cell_-_numeric_-_alt_col {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:right;
}
.table_cell_with_link {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A78A3;
  text-align:left;
}
.table_header_row_mouseover {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#2A78A3;
  text-align:left;
}
.table_header_row_mousedown {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#2A78A3;
  text-align:left;
}
.table_header_row_selected {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#2A78A3;
  text-align:left;
}
.table_vertical_line {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
}
.table_zebra_default {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:left;
}
.table_zebra_text {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:left;
}
.table_zebra_numeric {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:right;
}
.table_zebra_numeric_-_alt_col {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#172730;
  text-align:right;
}
.table_row_hover {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
.table_cell_yellow_highlight {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.table_cell__ve {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#26B910;
  text-align:left;
}
.table_cell_-ve {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D60037;
  text-align:left;
}
.table_header_row_-_nested {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:center;
}
.table_header_row_-_nested_-_alt_col {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:center;
}
.table_selection_default {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.table_selection_selected {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.table_selection_disabled {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.table_zebra_selected__gray_ {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.table_cell_zebra_stripe {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.calendar_day {
  font-size:11px;
  color:#666666;
}
.error_text {
  color:#D5193A;
}
.pagination_item {
  color:#E4E4E4;
}
.pagination_item_mouseover {
  color:#FFFFFF;
}
.pagination_item_selected {
  color:#FFFFFF;
}
.button_command_menu_arrow {
  color:#FFFFFF;
}
.vi_grid_header {
  font-size:11px;
  color:#666666;
  text-align:center;
}
.vi_grid_cell {
  font-size:11px;
  color:#666666;
}
.tree {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  color:#767575;
}
.tree_selected {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  color:#86BC4A;
}
.box_dialog {
  color:#666666;
}
.dialog_title {
  font-size:13px;
  color:#999999;
}
.slider_off {
}
.slider_on {
}
.primary_text_dark {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.placeholder {
}
.text_link {
  color:#0098F3;
}
.text_link_mouse_over {
  color:#0D6797;
}
.text_link_mouse_down {
  color:#172730;
}
.arrow {
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  color:#172730;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.vertical_line {
}
.connector {
}
.sticky_1 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.popup_card {
  font-size:18px;
  color:#666666;
  text-align:left;
  line-height:24px;
}
.data_selector {
  color:#FFFFFF;
  text-align:left;
}
.data_selector_mouseover {
}
.data_selector_v2_disabled {
  color:#172730;
  text-align:left;
}
.data_selector_v2_separator_text {
  color:#172730;
  text-align:center;
}
.sketchy_icon {
}
.button_disabled {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  color:#CCCCCC;
}
.primary_button_disabled {
  color:#FFFFFF;
}
.tree_node1 {
  color:#666666;
  text-align:left;
}
.page_level_tabs {
  font-size:14px;
  text-align:left;
}
.snapshot {
  color:#000000;
}
.marker {
  color:#FFFFFF;
}
.toast_background {
  text-align:left;
}
.non-grid_data_label {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.non-grid_data_value {
  font-size:24px;
  color:#172730;
  text-align:left;
}
.non-grid_data_value__ve {
  font-size:24px;
  color:#26B910;
}
.non-grid_data_value_-ve {
  font-size:24px;
  color:#E00020;
}
.breadcrumb_-_current_page {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.breadcrumb_-_link {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0098F3;
  text-align:center;
}
.toggle_switch__mid_ {
  font-size:13px;
  color:#0099F3;
  text-align:center;
}
.toggle_switch__l_ {
  font-size:13px;
  color:#0099F3;
  text-align:center;
}
.toggle_switch__r_ {
  font-size:13px;
  color:#0099F3;
  text-align:center;
}
.toggle_switch_mouseover {
  color:#172739;
}
.toggle_switch_mouse_down {
  color:#172739;
}
.toggle_switch_selected {
  color:#FFFFFF;
}
.tootltip_-_informative {
  color:#FFFFFF;
}
.html_button {
  text-align:center;
}
.image2 {
}
.sticky_2 {
  text-align:left;
}
.page_tab_label_selected {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#0098F3;
  text-align:center;
}
.sub_tab_label_selected {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0098F3;
  text-align:center;
}
.page_tab_label {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#172730;
  text-align:center;
}
.button_toolbar {
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
.header_panel {
}
.breadcrumb {
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#888888;
  text-align:left;
}
.toast_background_-_simple_green {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#354052;
  text-align:center;
}
.toast_background_-_simple_yellow {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#354052;
  text-align:center;
}
.data_value_label {
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#888888;
  text-align:left;
}
.button_commit_mousedown1 {
}
.button_commit1 {
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:600;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:center;
}
.wm_non-grid_data_value_-ve {
  font-size:24px;
  color:#EF3829;
  text-align:left;
}
.wm_non-grid_data_value__ve {
  font-size:24px;
  color:#76C043;
  text-align:left;
}
.data_source_text_ {
  font-family:'Open Sans Light', 'Open Sans Regular', 'Open Sans';
  font-weight:300;
  font-style:normal;
  font-size:11px;
  color:#888888;
  text-align:right;
}
.wm_floating_box_-ve {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#EF3829;
  text-align:center;
}
.wm_floating_box__ve {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#76C043;
  text-align:center;
}
.card_mouseover {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#354052;
  text-align:left;
  line-height:24px;
}
.card_selected {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#354052;
  text-align:left;
  line-height:24px;
}
.flyout_background {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#354052;
  text-align:left;
  line-height:24px;
}
.data_selector_v3 {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:left;
}
.data_selector_v3_mouseover {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:left;
}
.data_selector_v3_selected {
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#172730;
  text-align:left;
}
