/* chart styles */

.nlsn-chart-tip span {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.nlsn-chart-axis path {
  display: none;
}

.nlsn-chart-grid {
  opacity: 0.7;
}

.nlsn-chart-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  font: 10px sans-serif;
  margin: 0;
}

.nlsn-chart-svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}