/* global chart styles */

/*****************************************************************************/
/* axis */
.nlsn-chart-axis path {
  display: none;
}

/* Hide axis tick lines except grid. Allows ticksize to act as a margin for axis. */
.nlsn-chart-axis.tick line:not(.nlsn-chart-grid) {
  display: none;
}

/*****************************************************************************/
/* base elements */
/* svg container contains the svg element */
.nlsn-chart-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  font: 10px sans-serif;
  margin: 0;
}

/* the svg element */
.nlsn-chart-svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

/*****************************************************************************/
/* tooltips */
.nlsn-chart-tooltip {
  background: whitesmoke;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  font: 12px sans-serif;
  min-height: 40px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}

.nlsn-chart-tooltip-dimension {
  display: block;
  font-size: 12px;
  font-weight: bold;
}

.nlsn-chart-tooltip-heading {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
}

.nlsn-chart-tooltip-metric {
  display: block;
  font-size: 10px;
}

.nlsn-chart-tooltip-metric-color {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 10px;
  margin-right: 6px;
  width: 10px;
}
